*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

.hero{
    height: 100vh;

    background-color: #FFFBF7;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
}
h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}


.centered-text-hero {
    font-size: 30px;
        line-height: 1.4;
    letter-spacing: 0.5px;
    font-family: 'Amoresa';   
}

.centered-text-hero1{
    font-size: 24px;
     line-height: 1.4;
    letter-spacing: 0.5px;
    color: #D8A1A5;
}