*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

.hero{
    height: 100vh;

    background-color: #FFFBF7;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
}
h1{
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 1px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}

.centered-text-hero2{
    font-size: 40px;
     line-height: 1.4;
    letter-spacing: 0.5px;
}

.centered-text-hero {
    font-size: 40px;
        line-height: 1.4;
    letter-spacing: 0.5px;
    font-family: 'Amoresa';   
}

.centered-text-hero1{
    font-size: 24px;
     line-height: 1.4;
    letter-spacing: 0.5px;
    color: #D8A1A5;
}


.centered-text-hero3-title{
    font-size: 40px;
        line-height: 1.4;
    letter-spacing: 0.5px;
       font-family: 'Amoresa';  
}
.centered-text-hero3{
    font-size: 25px;
        line-height: 1.4;
    letter-spacing: 0.5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
}

.bottom-image {
    max-width: 100%;
    height: auto;
}





.date-place {
  background: #FFFBF7;
  padding: 4rem 1rem;
  text-align: center;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  max-width: 900px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.left {
  justify-content: flex-start;
  text-align: left;
}

.right {
  justify-content: flex-end;
  text-align: left;
}

.circle {
  width: 140px;
  height: 140px;
  background: #FADADD; /* rosa pastel */
  border-radius: 50%;
  flex-shrink: 0;
}

.text h3 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.text p {
  font-size: 1rem;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .item {
    flex-direction: column;
    text-align: center;
  }

  .right {
    justify-content: center;
  }
}