*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

.hero{
    height: 100vh;

    background-color: #FFFBF7;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
}
h1{
    font-size: 4.1rem;
    font-weight: 500;
    margin-bottom: 1px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}

.centered-text-hero2{
    font-size: 40px;
     line-height: 1.4;
    letter-spacing: 0.5px;
}

.centered-text-hero {
    font-size: 40px;
        line-height: 1.4;
    letter-spacing: 0.5px;
    font-family: 'Amoresa';   
}

.centered-text-hero1{
    font-size: 24px;
     line-height: 1.4;
    letter-spacing: 0.5px;
    color: #D8A1A5;
    font-family: 'GildaDisplay';   
}


.centered-text-hero3-title{
    font-size: 40px;
        line-height: 1.4;
    letter-spacing: 0.5px;
       font-family: 'Amoresa';  
}
.centered-text-hero3{
    font-size: 25px;
        line-height: 1.4;
    letter-spacing: 0.5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
}

.bottom-image {
    max-width: 100%;
    height: auto;
}




@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .item {
    flex-direction: column;
    text-align: center;
  }

  .right {
    justify-content: center;
  }
}