#home-image {
  animation: pulse 2s infinite;
}

.sector {
    min-height: 80vh;              /* full screen */
    display: flex;
    flex-direction: column;
    justify-content: center;        /* vertical centering */
    align-items: center;            /* horizontal centering */
    background-color: #FFFBF7;      /* white */
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 40px;                  /* small padding for mobile */
}

.title {
  font-family: 'Amoresa', cursive;
  font-size: 30px;
  display: inline-block;
  position: relative;
}


.responsive-fechaylu {
      display: block;
      width: clamp(430px, 80%, 800px);
      height: auto;
      margin: 0 auto;
}

.responsive-programa {
      display: block;
      width: clamp(400px, 80%, 800px);
      height: auto;
      margin: 0 auto;
}

.responsive-image-vestimenta {
      display: block;
      width: clamp(400px, 80%, 650px);
      height: auto;
      margin: 0 auto;
}

.responsive-image-regalos {
      display: block;
      width: clamp(400px, 90%, 1200px);
      height: auto;
      margin: 0 auto;
}

.responsive-image-recomendaciones {
      display: block;
      width: clamp(400px, 100%, 1400px);
      height: auto;
      margin: 0 auto;
}


.responsive-image-recuerditos {
      display: block;
      width: clamp(100px, 45%, 150px);
      height: auto;
      margin: 0 auto;
}     